<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    font-size: xx-large;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Player</th>
    <th>Games</th>
    <th>Wins</th>
    <th>GD</th>
    <th>Points</th>
  </tr>
{{ data }}
</table>
<p>
updated: {{ datetime }}.
</p>
</body>
</html>
